body {
  margin: 0 auto 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EBEBEB;

}
a {
  color: #000000;
}

img {
	padding: 0;
	margin: 0;
}

#bodyCenter {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	margin: 0 auto 0 auto;
	position: relative;
}
.vidCenter {
	margin-left: auto;
	margin-right: auto;
	width: 0.86em;
	margin: 30px 0 30px 0;

}

.buttonImgs {

}

#toggleStuff {
	padding-left: 25px;
	padding-bottom: 20px;
}

.contentCenter {
	padding-left: 80px;
	position: relative;
}

#becauseItNeedsFloats
{
	float: left;
}

#seats{
	display: none;
	background-image:url('../img/mst3k_overlay_sized.png');
	background-repeat: repeat-x;
	background-position: bottom left;
	position:absolute;
	height:200px;
	bottom:64px;
	width:1040px;
	line-height: 0px;
}
#piggy{
	background-image:url('../img/pig_silhouette.png');
	position:absolute;
	bottom:0px;
	overflow: hidden;
	right:120px;
	height:152px;
	width:174px;
	background-repeat: no-repeat;
	background-position: top left;
}
#sheepy{
	background-image:url('../img/sheep.png');
	position:absolute;
	bottom:0px;
	overflow: hidden;
	left:120px;
	height:152px;
	width:174px;
	background-repeat: no-repeat;
	background-position: top left;
}
#piggy svg{
	margin-top:45px;
	margin-left:5px;
}





.example-twitter {
width: 300px;
position: relative;
padding: 15px;
margin: auto 0 0.5em;
color: #333;
background: #ccc;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity: .8;
}	

.example-twitter p {
	font-size: 24px;
	line-height: 32px;
	font-style: italic;
}

.example-twitter:before {
position: absolute;
top: -60px;
left: 0;
width: 155px;
height: 36px;
display: block;
}

.example-twitter:after {
content: "";
position: absolute;
bottom: -30px;
border: 15px solid transparent;
border-top-color: #ccc;
display: block;
width: 0;
}
.example-twitter h3 {
	line-height: 32px;
	font-size: 24px;
	margin: 0;
}
blockquote p {
margin: 0;
font-size: 2em;
color:#000;
}

.pig {display: none; position: absolute; bottom:210px; right: 270px;}
.sheep { display: none; position: absolute; bottom:210px; left:270px; }
.pig:after { right: 70px; }
.sheep:after {	left: 60px; }

.friend1 { display: none; position: absolute; bottom:210px; left:270px; }
.friend2 {display: none; position: absolute; bottom:210px; right: 270px;}

.friendPos.friend1 {left:100px;}
.friendPos.friend2 {right:100px;}
.friendPos { bottom:120px; }
.friendPos:after {
	display: none;
}