<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/catchupstyle.css' />
	
  <body>

  	<div id='bodyCenter'>

  		<img src="/img/SH-header.png"/>
      <img src="/img/SH-middle1.png"/>
      <a href="/episode"><img src="/img/SH-middle2.png"/></a>
      <img src="/img/SH-footer.png"/>



      

	</div>
  </body>
</html>