<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
  <body>

  	<div id='bodyCenter'>
  		<img id="becauseItNeedsFloats" src="/img/SH-header.png"/>
      <img id="becauseItNeedsFloats" src="/img/SH-middle1.png" />
      <a href="/episode"><img id="becauseItNeedsFloats" src="/img/SH-middle2.png"/></a>
      <img id="becauseItNeedsFloats" src="/img/SH-footer.png"/>
	</div>
  </body>
</html>