<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
  <body>

  	<div id='bodyCenter'>
  		<img src="/img/catchup.png" usemap="#big-brother">

<map name="big-brother">
  <area shape="rect" coords="0,0,82,126" href="http://www.google.com/" border="dashed">
</map>
	</div>
  </body>
</html>