
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/raphael-min.js"></script> 
    <script type="text/javascript" src="/javascripts/snarks.js"></script> 
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://shared.ninemsn.com.au/share/com/js/common/require.min.js"></script>
    <script type="text/javascript" src="http://shared.ninemsn.com.au/share/com/js/common/amdConfig.js"></script>
    <script type="text/javascript" src="http://shared.ninemsn.com.au/share/short_cache/js/video/ninemsn.portal.common.video.loader-latest.min.js"></script>    

    <script>

	//var snark;
    var tweetData = null;
    
	  var dataLoaded = false;

  	function setData(source){
      $.ajax({
        url: '/data?source='+ source,
        success: function(data) {
          tweetData = data;
          dataLoaded = true;
        }
      });
    }
    
    setData('snark');

    function positionCallback() {
    	if(!dataLoaded) return;

    	findTweetAtPosition(window.player.get('POSITION'))
    	setTimeout(positionCallback, 1000);
    }

    function resetCallback() {
    	console.log('resetCallback');
    	$(".pig, .sheep").hide();
    	lastIndex = 0;
    }

    var timeToLive = 5;
    var lastIndex = -1;
	var isFriendSource = false;

	//var snark = snarks();
	//var pig = window.snark.pig();
	//var sheep = window.snark.sheep();

	function findTweetAtPosition(pos) {

		isFriendSource = $("img.img-swap").hasClass('on');       
    
	    var friendIds = ['.friend1', '.friend2'];
	    var snarkIds = ['.sheep', '.pig'];
	    var currentSources = null;

    	for (var i = 0; i < tweetData.length; i++) {

			if(pos > tweetData[i].position && pos < tweetData[i].position + 4)
			{
	    		if(lastIndex == i) return;

		        lastIndex =  i;

				if(isFriendSource){
		            currentSources = friendIds;
		        }else{
		            currentSources = snarkIds;
	    		}

		        var id = (lastIndex % 2 == 0) ? currentSources[0] : currentSources[1];
		        var item = $(id);
		       
		        item.stop().fadeIn().delay(4000).fadeOut();
		        
		        if(isFriendSource) {
		        	item.addClass('friendPos');
		        	item.find("> img").show().attr('src',tweetData[i].profile_image_url);
		        	item.find("> a").show().attr('href','https://twitter.com/' + tweetData[i].screen_name);
		        	item.find("> h3").text(tweetData[i].name);
		        }
		        else
		        {
		        	if(id!=='.sheep'){
		        		window.pig.yakka();
		        	}else{
						window.sheep.yak();
		        	}
		        	console.log('id' + id);
		        	item.removeClass('friendPos');
		        	item.find("> img, > a").hide();
		        	item.find("> h3").text(tweetData[i].screen_name);
		        }
		        
		        item.find("> p").text(tweetData[i].tweet);                                 
		        
		    }
		}
	}

	
  var initiated = false;

	function initChairsAndAnimals() {
		if(!initiated){
  		$("#seats").fadeIn(function(){ 
  			console.log(document.getElementById("#seats"));
  			var snark = snarks();
  			window.pig = snark.pig();
  			window.sheep = snark.sheep();});
  		$("#player, #seats, .pig, .sheep").mouseenter(function() { $("#seats").hide(); });
  		$("#player, #seats, .pig, .sheep").mouseleave(function() { 
  			if(!isFriendSource)
  				$("#seats").fadeIn(1000); });
      initiated = true;
    }
	}

  </script>

  </head>
  <body>

  	<div id='bodyCenter'>
  		<img src="/img/header.png">
    	
	    <div class='contentCenter'>
		    <div class='vidCenter' id="player">
			    <script type="text/javascript">

			        (function () {
			            var video = window.ninemsn.portal.common.video;

			            video.ready(function () {
			                window.player = new video.Player({
			                    account: video.enumerations.account.ninemsnCatchup,
			                    adapter: video.enumerations.player.adapter.Brightcove,
			                    outputLocation: 'player',
			                    data: {
			                        method: video.enumerations.data.method.ID,
			                        filter: {
			                            id: '2630968748001'
			                        },
			                    },
			                    height: 585,
			                    width: 1040,
			                    ads: {
				                    freewheel: {
				                        serverUrl: 'http://5c264.v.fwmrm.net',
				                        networkId: 377444,
				                        siteSection: 'noAds'
				                    }
				                }
			                });
			                //window.snark = snarks();
							window.player.on('video:playing', positionCallback);
							window.player.on('video:playing', initChairsAndAnimals);
			            });

			        } ());
			    </script>
			</div>

			<div class='buttonImgs' id="becauseItNeedsToFloat">
					<img src="/img/disableCommentary.png" /> 
					<span id='toggleStuff'>
			      <img src="img/snarkLabel.png" /> 
			      <img src="img/off.png" class="img-swap" />
			      <img src="img/friendsLabel.png" />
			    </span>
			</div>
			<script>
			$("img.img-swap").on('click', function() {            
			    if ($(this).attr("class") == "img-swap") {
			      this.src = this.src.replace("off","on");              
			      setData('friend');
			      $("#seats").stop().hide();
			      lastIndex = -1;
			    } else {
			      this.src = this.src.replace("on","off");              
			      setData('snark');
			      $("#seats").fadeIn(1000);
			      lastIndex = -1;
			    }
			    $(this).toggleClass("on");
			  });
			</script>


			<div id="seats">
			  	
		  	</div>
			<blockquote class="example-twitter sheep friend1">
				<img src="" />
				<h3></h3>
				<p></p>
				<a>link</a>  
			</blockquote>			  
			<blockquote class="example-twitter pig friend2">
				<img src="" />
				<h3></h3>
				<p></p>
				<a>link</a>  
			</blockquote>	
							

	    </div>

	    <img src="/img/footer.png">
	</div>

  </body>
</html>