<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div id='bodyCenter'>
  		<img src="/img/header.png">
    	
	    <div class='contentCenter'>
		    <div class='vidCenter' id="player">
			
			  </div>
	    </div>

	    <img src="/img/footer.png">
		</div>

  </body>
</html>